.root {
  padding-top: calc(var(--mantine-spacing-xl) * 3);
  padding-bottom: calc(var(--mantine-spacing-xl) * 3);
  min-height: 100dvh;
}

.inner {
  display: flex;
  justify-content: center;
  aligns-items: center;
}

.image {
  @media (max-width: $mantine-breakpoint-md) {
    display: none;
  }
}

.content {
  text-align: center;
  @media (max-width: $mantine-breakpoint-md) {
    margin-right: 0;
  }
}
